{% extends 'users/base.html' %}{% block title %}About{% endblock %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>

<body class="page-about">
	{% block content %}
	<main id="main">
		<div class="breadcrumbs d-flex align-items-center" style="background-image: url('img/about-header.jpg');">
			<div class="container position-relative d-flex flex-column align-items-center">
				<h2>About</h2>
				<ol>
					<li><a href="{% url 'user_homepage' user.username %}">Home</a></li>
					<li>About</li>
				</ol>
			</div>
		</div>

		<section id="about" class="about">
			<div class="container" data-aos="fade-up">

				<div class="row gy-4" data-aos="fade-up">
				<div class="col-lg-4">
					<img src="{% static 'img/about.jpg' %}" class="img-fluid" alt="img">
				</div>
				<div class="col-lg-8">
					<div class="content ps-lg-5">
					<h3>Mulika Uhalifu Project</h3>
					<p>
						This is goverment initiative to enhance security in all counties by bridging the gap between law enforcement agencies
						and local citizens to reduce crime rates in each county.
					</p>
					<ul>
						<li><i class="bi bi-check-circle-fill"></i> Feel free to report any crimes you have witnessed.</li>
						<li><i class="bi bi-check-circle-fill"></i> Feel free to report corrupt, abusive or incompetent officials</li>
						<li><i class="bi bi-check-circle-fill"></i> Your security matters, we are here for you.</li>
					</ul>
					</div>
				</div>
				</div>

			</div>
		</section>

		<section id="call-to-action" class="call-to-action">
			<div class="container" data-aos="fade-up">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<h3>Report corrupt and/or abusive officers</h3>
						<p>It is your duty to report corrupt, abusive or incompetent police officers or any other officer in your area.</p>
						<a class="cta-btn" href="{% url 'contact' %}">Report Officer</a>
					</div>
				</div>
			</div>
		</section>

		<section id="team" class="team">
			<div class="container" data-aos="fade-up">
				<div class="section-header">
					<h2>Police in your nearest police post</h2>
				</div>
				<div class="row gy-4">
					{% for officer in officers %}
					<div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
						<div class="team-member">
						<div class="member-img">
							<img src="{{officer.dp.url}}" class="img-fluid" alt="officer-img">
						</div>
						<div class="member-info">
							<h4>{{officer.officer|title}}</h4>
							<span>{{officer.rank}}</span>
						</div>
						</div>
					</div>
					{% endfor %}

				</div>
			</div>
		</section>

	</main>
	{% endblock %}
</body>

</html>