{% extends 'users/base.html' %}{% block title %}Crime Details{% endblock %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body class="page-blog">
	{% block content %}
	<main id="main">
		<div class="breadcrumbs d-flex align-items-center">
			<div class="container position-relative d-flex flex-column align-items-center">
				<h2>Crime Details</h2>
				<ol>
					<li><a href="{% url 'user_homepage' user.username %}">Home</a></li>
					<li>Crime Details</li>
				</ol>
			</div>
		</div>

		<section id="blog" class="blog">
			<div class="container" data-aos="fade-up">
				<div class="row g-5">
					<div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
						<article class="blog-details">
							<div class="post-img">
								{% if crime_details.type_of_crime == 'Burglary' or crime_details.type_of_crime == 'Robbery' %}
								<img src="{% static 'img/banners/robbery.jpg' %}" class="img-fluid" alt="crime-img">
								{% elif crime_details.type_of_crime == 'Theft' %}
								<img src="{% static 'img/banners/thief.jpg' %}" class="img-fluid" alt="crime-img">
								{% elif crime_details.type_of_crime == 'Selling Drugs' %}
								<img src="{% static 'img/banners/stop-drugs.jpg' %}" class="img-fluid" alt="crime-img">
								{% else %}
								<img src="{% static 'img/banners/shield.jpg' %}" class="img-fluid" alt="crime-img">
								{% endif %}
							</div>

							<h2 class="title">{{crime_details.type_of_crime}} - {{crime_details.location|title}}</h2>
							<div class="meta-top">
								<ul>
									<li class="d-flex align-items-center"><i class="bi bi-person-fill"></i> Suspect: {{crime_details.suspect_name|default:" --- "}}</li>
									<li class="d-flex align-items-center"><i class="bi bi-clock-history"></i> Commited on {{crime_details.date_of_crime|date:"D M, d Y"}}</li>
									<li class="d-flex align-items-center"><i class="bi bi-clock-fill"></i> Reported {{crime_details.crime_reported|timesince}} ago</li>
								</ul>
							</div>

							<div class="content">
								<p>
									{{crime_details.description}}
								</p>
								{% if crime_details.comment %}
								<blockquote>
									<p>
										<i class="bi bi-quote"></i>
										{{crime_details.comment}}
										<i class="bi bi-quote"></i>
									</p>
								</blockquote>
								{% endif %}
								<div class="row">
									<div class="col-md-12">
										<hr>
										{% if crime_details.crime_status == "" %}<span class="badge bg-danger w-100 p-2 text-center"><i class="bi bi-exclamation-triangle-fill"></i> Case not Filed</span>
										{% elif crime_details.crime_status == 'File Case' %}<span class="badge bg-secondary w-100 p-2 text-center"><i class="bi bi-exclamation-circle-fill"></i> Case Filed</span>
										{% else %}<span class="bg-primary badge w-100 p-2 text-center">{{crime_details.crime_status}}</span>{% endif %}
									</div>
								</div>

							</div>

						</article>
					</div>

					<div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">
						<div class="sidebar ps-lg-4">
							<div class="sidebar-item search-form">
								<h3 class="sidebar-title">Search</h3>
								<form action="" class="mt-3" method="get">
									<input type="text">
									<button type="submit"><i class="bi bi-search"></i></button>
								</form>
							</div>

						</div>

					</div>
				</div>

			</div>
		</section>
	</main>
  	{% endblock %}
</body>
</html>