{% extends 'users/base.html' %}{% block title %}Homepage{% endblock %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="description">
	<meta content="" name="keywords">
</head>
<body class="page-index">  
	{% block content %}
	<style>
		.hero {
			width: 100%;
			min-height: 100vh;
			background: url("{% static 'img/town-night.jpg' %}") top center;
			background-size: cover;
			position: relative;
			padding: 120px 0;
			z-index: 3;
		}
	</style>
	<section id="hero" class="hero d-flex align-items-center">
		<div class="container">
			<div class="row">
				<div class="col-xl-4">
					<h2 data-aos="fade-up">Hi {{user.username|title}}!</h2>
					<blockquote class="text-center" data-aos="fade-up" data-aos-delay="100">
						<p>
							Welcome home, {{user.username|title}}. <hr>Use the website to report crime in your current location.
							The website gives you the freedom and power to report corrupt, abusive and/or incompetent officers in your location.
							All crimes reported in your location will posted on this website. Updates will also be provided on all reported crimes.
						</p><hr>
						Scroll for more info. <i class="bi bi-arrow-down-circle-fill" style="font-size: 20px; color: #56b8e6"></i>{% include 'messages.html' %}
					</blockquote>
				</div>
			</div>
		</div>
	</section>

	<main id="main">
		<section id="why-us" class="why-us">
			<div class="container" data-aos="fade-up">
				<div class="section-header">
					<h2>Why Choose Us</h2>
				</div>

				<div class="row g-0" data-aos="fade-up" data-aos-delay="200">
					<div class="col-xl-12 slides position-relative">
						<div class="slides-1 swiper">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="item">
										<h3 class="mb-3">We are here for you <i class="bi bi-check-circle-fill" style="color: #1335f5;"></i></h3>
										<h4 class="mb-3">Optio reiciendis accusantium iusto architecto at quia minima maiores quidem, dolorum.</h4>
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, ipsam perferendis asperiores explicabo vel tempore velit totam, natus nesciunt accusantium dicta quod quibusdam ipsum maiores nobis non, eum. Ullam reiciendis dignissimos laborum aut, magni voluptatem velit doloribus quas sapiente optio.</p>
									</div>
								</div>

								<div class="swiper-slide">
									<div class="item">
										<h3 class="mb-3">Unde perspiciatis ut repellat dolorem</h3>
										<h4 class="mb-3">Amet cumque nam sed voluptas doloribus iusto. Dolorem eos aliquam quis.</h4>
										<p>Dolorem quia fuga consectetur voluptatem. Earum consequatur nulla maxime necessitatibus cum accusamus. Voluptatem dolorem ut numquam dolorum delectus autem veritatis facilis. Et ea ut repellat ea. Facere est dolores fugiat dolor.</p>
									</div>
								</div>

								<div class="swiper-slide">
									<div class="item">
										<h3 class="mb-3">Aliquid non alias minus</h3>
										<h4 class="mb-3">Necessitatibus voluptatibus explicabo dolores a vitae voluptatum.</h4>
										<p>Neque voluptates aut. Soluta aut perspiciatis porro deserunt. Voluptate ut itaque velit. Aut consectetur voluptatem aspernatur sequi sit laborum. Voluptas enim dolorum fugiat aut.</p>
									</div>
								</div>

								<div class="swiper-slide">
									<div class="item">
										<h3 class="mb-3">Necessitatibus suscipit non voluptatem quibusdam</h3>
										<h4 class="mb-3">Tempora quos est ut quia adipisci ut voluptas. Deleniti laborum soluta nihil est. Eum similique neque autem ut.</h4>
										<p>Ut rerum et autem vel. Et rerum molestiae aut sit vel incidunt sit at voluptatem. Saepe dolorem et sed voluptate impedit. Ad et qui sint at qui animi animi rerum.</p>
									</div>
								</div>

							</div>
							
							<div class="swiper-pagination"></div>
						</div>
						
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					
					</div>
				</div>
			</div>
		</section>
		
		<section id="services-list" class="services-list">
			<div class="container" data-aos="fade-up">
				<div class="section-header">
					<h2>Our Services</h2>
				</div>

				<div class="row gy-5">
					<div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
						<div class="icon flex-shrink-0"><i class="bi bi-shield-check" style="color: #15a04a;"></i></div>
						<div>
							<h4 class="title">Security</h4>
							<p class="description">
								Your security matters. As law enforcers, it is our duty to ensure you live, interact and work in a secure and harmonious environment.
							</p>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
						<div class="icon flex-shrink-0"><i class="bi bi-folder" style="color: #ffc107;"></i></div>
						<div>
							<h4 class="title">Investigation</h4>
							<p class="description">
								Crimes reported will be filed and local authorities will carry out investigation to arrest mentioned suspects.
							</p>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
						<div class="icon flex-shrink-0"><i class="bi bi-bank" style="color: #d90769;"></i></div>
						<div>
							<h4 class="title">Apprehension & Sentence</h4>
							<p class="description">
								Arrested suspect(s) will be arraigned and charged ina court of law. Depending ont he judge's final word.
								The suspect may serve a jail term of the sated period of time and/or pay fine.
							</p>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
						<div class="icon flex-shrink-0"><i class="bi bi-people" style="color: #15bfbc;"></i></div>
						<div>
							<h4 class="title">Collaboration</h4>
							<p class="description">
								We are collaborating with local citizens to reduce crime rates in out cities, estates and villages. This is done so as to promote
								a secure environment to live and work.
							</p>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="500">
						<div class="icon flex-shrink-0"><i class="bi bi-coin" style="color: #f5cf13;"></i></div>
						<div>
							<h4 class="title">Bounties</h4>
							<p class="description">
								Some suspect(s) go into hiding making it hard for police to track them. Rewards are usually given to anyone who knows the whereabout
								of such suspect(s).
							</p>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="600">
						<div class="icon flex-shrink-0"><i class="bi bi-telephone-outbound" style="color: #1335f5;"></i></div>
						<div>
							<h4 class="title">Report & Feedback</h4>
							<p class="description">
								Feel free to report corrupt police officers and workers in the law enforcement agency in your area. You can use the <a href="{% url 'contact' %}">Contact Us form</a> to send such reports anonymously
								or you can call police toll no. <a href="tel:789">789</a>
							</p>
						</div>
					</div>

				</div>
			</div>
		</section>

		<section id="call-to-action" class="call-to-action">
			<div class="container" data-aos="fade-up">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<h3>Usinyamaze <i class="bi bi-mic-mute-fill"></i>, Piga Ripoti</h3>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
						<a class="cta-btn" href="{% url 'report_crime' %}"><i class="bi bi-mic-fill"></i> Report Crime</a>
					</div>
				</div>
			</div>
		</section>

		<section id="recent-posts" class="recent-posts">
			<div class="container" data-aos="fade-up">
				<div class="section-header">
					<h2>Recent Crime Reports</h2>
				</div>
				{% if reported_crimes %}
				<div class="row gy-5">
					{% for crime in reported_crimes reversed %}
					<div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
						<div class="post-box">
							<div class="post-img">
								{% if crime.type_of_crime == 'Burglary' or crime.type_of_crime == 'Robbery' %}
								<img src="{% static 'img/banners/robbery.jpg' %}" class="img-fluid" alt="crime-img">
								{% elif crime.type_of_crime == 'Theft' %}
								<img src="{% static 'img/banners/thief.jpg' %}" class="img-fluid" alt="crime-img">
								{% elif crime.type_of_crime == 'Selling Drugs' %}
								<img src="{% static 'img/banners/stop-drugs.jpg' %}" class="img-fluid" alt="crime-img">
								{% else %}
								<img src="{% static 'img/banners/shield.jpg' %}" class="img-fluid" alt="crime-img">
								{% endif %}
							</div>
							
							<div class="meta">
								<span class="post-date">{{crime.crime_reported|date:"D j-M-Y"}}</span>
								<span class="post-author"> - {{crime.location}}</span>
							</div>
							<h3 class="post-title">{{crime.type_of_crime}}</h3>
							<p>{{crime.description|truncatewords:10}}</p>
							<a href="{% url 'crime_details' crime.case_file_no %}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
						</div>
					</div>
					{% endfor %}
				</div>{% else %} <div class="section-header"><h4>No reported crimes</h4><hr><h6>All reported crimes will be displayed here.</h6></div>{% endif %}
			</div>
		</section>
	</main>
	{% endblock %}
</body>
</html>