{% extends 'users/base.html' %}{% block title %}Usinyamaze, Piga Ripoti{% endblock %}
{% load crispy_forms_tags %}{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <style>
        .hero {
            width: 100%;
            min-height: 100vh;
            background: url("{% static '/img/town4.jpg' %}") top center;
            background-size: cover;
            position: relative;
            padding: 120px 0;
            z-index: 3;
        }
        
    </style>
    <section id="hero" class="hero d-flex align-items-center">
		<div class="container">
			<div class="row">
				<div class="col-xl-4">
					<h2 data-aos="fade-up">Habari...</h2>
					<blockquote data-aos="fade-up" data-aos-delay="100">
						<p>
                            Welcome to Mulika Uhalifu website
                        </p>
                        <br>Scroll to login <i class="bi bi-arrow-down-circle-fill" style="font-size: 20px; color: #56b8e6"></i>
					</blockquote>
					<div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                        <a href="https://www.github.com/MoriKeli" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
    <div class="form-container container">
        <div class="row">
            <div class="col-md-6 offset-sm-3">
                <form action="" method="post" class="card card-body mt-5 p-3">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h5>Login Form</h5><hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {% include 'messages.html' %}
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="username" class="form-control mt-2" placeholder="Enter your name">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="password" name="password" class="form-control mt-2" placeholder="Enter your password">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 d-grid gap-2">
                            <button type="submit" class="btn btn-primary mt-2">Login</button><hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h6 class="text-center"><a href="">Forgot password?</a></h6>
                            <h6 class="text-center">Don't have official account? <a href="{% url 'signup' %}">Signup</a></h6>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}    
</body>
</html>
