{% extends 'users/base.html' %}{% block title %}My Profile{% endblock %}
{% load crispy_forms_tags %}{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <style>
        .hero {
            width: 100%;
            min-height: 100vh;
            background: url("{% static 'img/hero-bg.jpg' %}") top center;
            background-size: cover;
            position: relative;
            padding: 120px 0;
            z-index: 3;
        }
    </style>
    <section id="hero" class="hero d-flex align-items-center">
		<div class="container">
			<div class="row">
				<div class="col-xl-4">
                    {% if user.userprofile.gender == "" and user.userprofile.dob is None and user.userprofile.location == "" %}
					<h2 data-aos="fade-up">Update your Profile</h2>
					<blockquote data-aos="fade-up" data-aos-delay="100">
						<p>
                            For the purpose of integrity, the following details will be collected:
                            <ul>
                                <li><b>Date of Birth</b></li>
                                <li>Your gender</li>
                                <li>Your location/county</li>
                            </ul>
                            <hr><b>NB: You will not be able to report any crime unless you fill-in these details in the form below.</b>
                        </p>
                        <br>Scroll down &dArr; and fill in the form with your details.<br>
					</blockquote>
                    {% else %}
					<h2 data-aos="fade-up">Your profile</h2>
					<blockquote data-aos="fade-up" data-aos-delay="100">
						<ul>
                            <li><b>Full Name: </b>{{request.user.username|title}}</li>
                            <li><b>Date of Birth: </b>{{request.user.userprofile.dob}}</li>
                            <li><b>Age: </b>{{request.user.userprofile.age}}</li>
                            <li><b>Registered location: </b>{{user.userprofile.location|title}}</li>
                        </ul>
                        You're good to proceed <i class="bi bi-check-circle-fill" style="font-size: 20px; color: #56b8e6"></i>
					</blockquote>{% endif %}
				</div>
			</div>
		</div>
	</section>{% if user.userprofile.gender == "" and user.userprofile.dob is None and user.userprofile.location == "" %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-sm-3">
                <form action="" method="post" class="card card-body">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Update Profile</h3><hr class="mt-0">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{update_profile|crispy}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr class="mt-0"><button type="submit" class="btn btn-primary">Update profile</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>{% endif %}
    {% endblock %}
</body>
</html>