{% extends 'users/base.html' %}{% block title %}Report Crime{% endblock %}
{% load crispy_forms_tags %}{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <main id="main">
        <div class="breadcrumbs d-flex align-items-center" style="background-image: url('img/about-header.jpg');">
			<div class="container position-relative d-flex flex-column align-items-center">
				<h2>Report a crime</h2>
				<ol>
					<li><a href="{% url 'user_homepage' user.username %}">Home</a></li>
					<li>Report a crime</li>
				</ol>
			</div>
		</div>

    </main>

    <section id="contact" class="crime-report">
        <div class="container position-relative" data-aos="fade-up">
            <div class="row gy-4 d-flex justify-content-end">
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="card card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Crime Report clause</h5><hr class="mt-0">
                            </div>
                        </div>
                        <div class="row">
                            <div class="sm-12">
                                <p>
                                    Make sure you adhere to the following rules when reporting a crime:
                                    <ul>
                                        <li>Information provided (i.e. any crime you are reporting) <b>MUST</b> accurate to ease investigation.</li>
                                        <li>If you have a record of false reports, your account will be terminated and you will be arrested.</li>
                                        <li>When reporting a crime,  make sure you include suspect(s) details such as <b>Name, alias/nickname, where the crime occurred, date of crime.</b>
                                            If you don't have any clue about such details, outline suspect description such as <b>height, age group (e.g. youth, child, elderly)</b>. 
                                        </li>
                                    </ul>
                                </p><hr>
                                <h6 class="text-center"><b>NB: Crime reports will be sent to your local authorities, you may be called as a witness during trial.</b></h6>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
                    <form action="" method="post" role="form" class="crime-report-form card card-body">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h5>Report a crime</h5><hr class="mt-0">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                {% include 'messages.html' %}
                                {{ReportCrimeForm|crispy}}
                            </div>
                        </div>
                        <div class="text-center d-grid">
                            <h6 class="mt-0 mb-0"><b>NB: Once submitted, form cannot be edited.</b></h6>
                            <hr><button type="submit" class="btn btn-primary p-2">Report crime</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </section>
    {% endblock %}
</body>
</html>