{% extends 'users/base.html' %}{% block title %}Crimes I Reported{% endblock %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <main id="main">
		<div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/blog-header.jpg');">
			<div class="container position-relative d-flex flex-column align-items-center">
				<h2>Crimes I Reported</h2>
				<ol>
					<li><a href="{% url 'user_homepage' user.username %}">Home</a></li>
					<li>Reports</li>
				</ol>
			</div>
		</div>
		
		<section id="blog" class="blog">
			<div class="container" data-aos="fade-up">
				<div class="row">
					<div class="col-lg-9" data-aos="fade-up" data-aos-delay="200">
						<div class="col-lg-12 card card-body table-responsive">
							<table class="table table-bordered table-hover table-sm">
								<thead>
									<tr class="table-active">
										<th>#</th>
										<th>Crime</th>
										<th>Description</th>
										<th>Location</th>
										<th>Date of Crime</th>
										<th>Crime reported</th>
										<th>Crime Status</th>
									</tr>
								</thead>
								<tbody>
									{% for report in crime_report_summary reversed %}
									<tr>
										<td>{{ forloop.counter }}</td>
                                        <td>{{ report.type_of_crime }}</td>
										<td>{{ report.description }}</td>
										<td>{{ report.location }}</td>
										<td>{{ report.date_of_crime|date:"D d-m-Y" }}</td>
										<td>{{ report.crime_reported }}</td>
										<td>{% if report.crime_status == "" %}<span class="badge bg-danger">Case not Filed</span>{% elif report.crime_status == "File Case" %}<span class="badge bg-info">Case Filed</span>{% else %}<span class="badge bg-primary">{{ report.crime_status }}</span></td>{% endif %}
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>

					</div>

					<div class="col-lg-3" data-aos="fade-up" data-aos-delay="400">
						<div class="sidebar ps-lg-4">
							<div class="sidebar-item search-form">
								<h3 class="sidebar-title">Search</h3>
								<form action="" class="mt-3" method="get">
									<input type="text">
									<button type="submit"><i class="bi bi-search"></i></button>
								</form>
							</div>

						</div>

					</div>
				</div>
			</div>
		</section>
	</main>
    {% endblock %}
</body>
</html>