{% extends 'users/base.html' %}{% block title %}Suspect Details{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body class="page-portfolio">
	{% block content %}
	<main id="main">
		<div class="breadcrumbs d-flex align-items-center">
			<div class="container position-relative d-flex flex-column align-items-center">
				<h2>Suspect Details</h2>
				<ol>
					<li><a href="{% url 'user_homepage' user.username %}">Home</a></li>
					<li>Suspect Details</li>
				</ol>
			</div>
		</div>

		<section id="suspect-details" class="suspect-details">
			<div class="container" data-aos="fade-up">
				<div class="row gy-4">

					<div class="col-lg-4">
						<div class="slides-1 suspect-details-slider swiper">
							<div class="swiper-wrapper align-items-center">
								<div class="swiper-slide">
									<img src="{{info.suspect_pic.url}}" alt="image">
								</div>
							</div>
							<div class="swiper-pagination"></div>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="suspect-info">
							<h3>Suspect Info.</h3>
							<ul>
								<li><i style="font-size: 20px; color: #1f98d1;" class="bi bi-person-circle"></i> <strong>Name: </strong>{{info.suspect_name|title}}</li>
								<li><i style="font-size: 20px; color: #1f98d1;" class="bi bi-person-circle"></i> <strong>Alias: </strong>{{info.alias|default:"No alias"}}</li>
								<li>{% if info.gender == 'Male' %}<i style="font-size: 20px; color: #1f98d1;" class="bi bi-gender-female"></i> {% else %}<i style="font-size: 20px; color: #1f98d1;" class="bi bi-gender-female"></i>{% endif %} <strong>Gender: </strong>{{info.gender}}</li>
								<li><i style="font-size: 20px; color: #dc3545;" class="bi bi-exclamation-triangle-fill"></i> <strong>Last seen: </strong>{{info.last_seen}}</li>
								<li><i style="font-size: 20px; color: #ffc107;" class="bi bi-coin"></i> <strong>Bounty: </strong>Kshs.{{info.bounty}}/=</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="suspect-info">
							<h3>NOTE!</h3>
							<p>
								Any details of the mentioned suspects should be reported to the nearest local authorities.
							</p>
							<hr>
							<h6 class="text-center"><b>Usinyamaze, piga ripoti</b></h6>
						</div>
					</div>

				</div>
			</div>
		</section>
	</main>
	{% endblock %}
</body>
</html>