{% load static %}
    <link rel="shortcut icon" href="{% static 'logo.png' %}" type="image/x-icon">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <title>Mulika Uhalifu | {% block title %}{% endblock title %}</title>

    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            {% if user.is_authenticated %}<a href="{% url 'homepage' %}" class="logo d-flex align-items-center">
                <img src="{% static 'logo.png' %}" alt="logo">
                <span class="d-none d-lg-block">Mulika Uhalifu</span>
            </a>{% else %}<a href="{% url 'official_login' %}" class="logo d-flex align-items-center">
                <img src="{% static 'logo.png' %}" alt="logo">
                <span class="d-none d-lg-block">Mulika Uhalifu</span>
            </a>{% endif %}
            {% if user.is_authenticated %}<i class="bi bi-list toggle-sidebar-btn"></i>{% endif %}
        </div>
        {% if user.is_authenticated %}
        <div class="search-bar">
            <form class="search-form d-flex align-items-center mt-3" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                        <span class="badge bg-primary badge-number">4</span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                        <li class="dropdown-header">
                            You have 4 new notifications
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-exclamation-circle text-warning"></i>
                            <div>
                                <h4>Lorem Ipsum</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>30 min. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-x-circle text-danger"></i>
                            <div>
                                <h4>Atque rerum nesciunt</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>1 hr. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-check-circle text-success"></i>
                            <div>
                                <h4>Sit rerum fuga</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>2 hrs. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-info-circle text-primary"></i>
                            <div>
                                <h4>Dicta reprehenderit</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        
                        <li class="dropdown-footer">
                            <a href="#">Show all notifications</a>
                        </li>

                    </ul>

                </li>

                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-chat-left-text"></i>
                        <span class="badge bg-success badge-number">3</span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                        <li class="dropdown-header">
                        You have 3 new messages
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                        <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                        <a href="#">
                            <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                            <div>
                            <h4>Maria Hudson</h4>
                            <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                            <p>4 hrs. ago</p>
                            </div>
                        </a>
                        </li>
                        <li>
                        <hr class="dropdown-divider">
                        </li>
                        
                        <li class="message-item">
                        <a href="#">
                            <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
                            <div>
                            <h4>Anna Nelson</h4>
                            <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                            <p>6 hrs. ago</p>
                            </div>
                        </a>
                        </li>
                        <li>
                        <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                        <a href="#">
                            <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                            <div>
                            <h4>David Muldon</h4>
                            <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                            <p>8 hrs. ago</p>
                            </div>
                        </a>
                        </li>
                        <li>
                        <hr class="dropdown-divider">
                        </li>

                        <li class="dropdown-footer">
                        <a href="#">Show all messages</a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="{{user.officialsprofile.dp.url}}" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">{{user.officialsprofile.officer|title}}</span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>{{user.officialsprofile.officer|title}}</h6>
                            <span>{{user.officialsprofile.rank|default:"--"}}</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'my_profile' %}">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'logout_officer' %}">
                                <i class="bi bi-door-open"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
               
                </li>
            </ul>
            
        </nav>
        {% endif %}
    </header>

    {% if user.is_authenticated %}
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link " href="{% url 'homepage' %}">
                <i class="bi bi-grid-1x2-fill"></i>
                <span>Dashboard</span>
                </a>
            </li>
            {% if user.officialsprofile.officer_no != "" and user.officialsprofile.police_post != "" and user.officialsprofile.rank != "" %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'reported_crimes' %}">
                    <i class="bi bi-soundwave"></i><span>Reported crimes</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'filed_cases' %}">
                <i class="bi bi-folder-fill"></i><span>Cases Filed</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'unfiled_cases' %}">
                    <i class="bi bi-folder-symlink-fill"></i><span>Pending Case Files</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'wanted_suspects' %}">
                    <i class="bi bi-shield-fill-exclamation"></i><span>Wanted Suspects</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'ob' user.officialsprofile.police_post %}">
                <i class="bi bi-stickies-fill"></i><span>Occurence book</span>
                </a>
            </li>
            {% endif %}
            <li class="nav-heading"><hr class="dropdown-divider"></li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'my_profile' %}">
                <i class="bi bi-person-bounding-box"></i>
                {% if user.officialsprofile.officer == "" and user.officialsprofile.officer_no == "" and user.officialsprofile.rank == "" %} <i class="bi bi-exclamation-triangle-fill"></i><span>Update your Profile</span>{% else %} <span>Profile</span>{% endif %}
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'my_profile' %}">
                <i class="bi bi-question-circle-fill"></i>
                <span>FAQs</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-door-open-fill"></i><span>Logout</span>
                </a>
            </li>

        </ul>
    </aside>
    {% endif %}
    {% block content %}
    {% endblock %}
    {% if user.is_authenticated %}
    <footer id="footer" class="footer">
        <div class="copyright">
            <strong>&copy; 2022 <span>Mulika Uhalifu</span></strong>. All Rights Reserved
        </div>
    </footer>
    {% else %}
    <footer class="footer mt-3">
        <div class="copyright h-0">
            <strong>&copy; 2022 <span>Mulika Uhalifu</span></strong>. All Rights Reserved
        </div>
    </footer>
    {% endif %}
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <script src="{% static 'apexcharts.min.js' %}"></script>
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'chart.min.js' %}"></script>
    <script src="{% static 'echarts.min.js' %}"></script>
    <script src="{% static 'quill.min.js' %}"></script>
    <script src="{% static 'simple-datatables.js' %}"></script>
    <script src="{% static 'tinymce.min.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
