{% extends 'officers/base.html' %}{% block title %}Case File for {{suspect|title}}{% endblock %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <main class="main" id="main">
        <section class="section profile">
            <div class="row">
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                            <img src="{{user.officialsprofile.dp.url}}" alt="profile-pic" class="rounded-circle">
                            <h2 class="text-center">{{user.officialsprofile.officer|title}}</h2>
                            <h3 class="text-center">{{user.officialsprofile.rank|title|default:"--"}}</h3>
                        </div>
                   </div>
                </div>

                <div class="col-xl-8">
                    <div class="card">
                        <div class="card-body pt-3">
                            <ul class="nav nav-tabs nav-tabs-bordered">
                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#case-file-details">Case File</button>
                                </li>
                            </ul>

                            <div class="tab-content p-2">
                                <div class="tab-pane fade show active" id="case-file-details">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <h3 class="text-center mb-0">FILE: {{file_no.case_file_no}}</h3><hr class="dropdown-divider mt-0">
                                                <h6><b>Suspect Name: </b>{{file_no.suspect_name|title}}</h6>
                                                <h6><b>Crime: </b>{{file_no.type_of_crime}}</h6>
                                                <h6><b>Description: </b>{{file_no.description}}</h6>
                                                <h6><b>Location: </b>{{file_no.location|title}}</h6>
                                                <h6><b>Date of crime: </b>{{file_no.date_of_crime}}</h6>
                                                <hr class="dropdown-divider">
                                                <h6>Crime reported on <b>{{file_no.crime_reported}}</b></h6>

                                            </div>
                                            <div class="col-md-3">
                                                <img src="{% static 'criminal.jpg' %}" class="img-fluid offset-sm-4" height="100px" width="250px" alt="">
                                                {% if file_no.crime_status == 'File Case' %}
                                                <img src="{% static 'case-file.jpg' %}" class="img-fluid offset-sm-5 mt-3" height="300px" width="300px">
                                                {% elif file_no.crime_status == 'Police carrying out investigation' %}
                                                <img src="{% static 'circle-investigation.jpeg' %}" class="img-fluid offset-sm-5 mt-3" height="300px" width="300px">
                                                {% elif file_no.crime_status == 'Suspect(s) Arrested' %}
                                                <img src="{% static 'arrested.jpg' %}" class="img-fluid offset-sm-5 mt-3" height="300px" width="300px">
                                                {% elif file_no.crime_status == 'Suspect(s) Interrogated' %}
                                                <img src="{% static 'case-file.jpg' %}" class="img-fluid offset-sm-5 mt-3" height="300px" width="300px">
                                                {% elif file_no.crime_status == 'Suspect(s) Sentenced' %}
                                                <img src="{% static 'case-file.jpg' %}" class="img-fluid offset-sm-5 mt-3" height="300px" width="300px">
                                                {% elif file_no.crime_status == 'Case closed' %}
                                                <img src="{% static 'case-closed.jpg' %}" class="img-fluid offset-sm-5 mt-3" height="300px" width="300px">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% endblock %}
</body>
</html>