{% extends 'officers/base.html' %}{% block title %}Case File{% endblock %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <main class="main" id="main">
        <section class="section profile">
            <div class="row">
                <div class="col-xl-4">
					<div class="card">
						<div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
							<img src="{{user.officialsprofile.dp.url}}" alt="profile-pic" class="rounded-circle">
							<h2 class="text-center">{{user.officialsprofile.officer|title}}</h2>
							<h3 class="text-center">{{user.officialsprofile.rank|title|default:"--"}}</h3>
						</div>
					</div>
				</div>

                <div class="col-xl-8">
                    <div class="card">
                        <div class="card-body pt-3">
                            <ul class="nav nav-tabs nav-tabs-bordered">
                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#case-file">File Case </button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#wanted-suspect">Wanted Suspect</button>
                                </li>
                            </ul>

                            <div class="tab-content p-2">
                                <div class="tab-pane fade show active" id="case-file">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{case_form|crispy}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <hr class="dropdown-divider"><button type="submit" class="btn btn-primary">File Reported Case</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="tab-pane fade" id="wanted-suspect">
                                    <form action="" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{wanted|crispy}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <hr class="dropdown-divider"><button type="submit" class="btn btn-primary">Post suspect</button>  
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
    {% endblock %}
</body>
</html>