{% extends 'officers/base.html' %}{% block title %}Logout{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <style>
        .container {
            margin-top: 10%;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="card-body">
                    <h1>Goodbye officer, see you soon</h1>
                    <h5>You are logged out</h5><hr class="dropdown-divider">
                    <a href="{% url 'official_login' %}" class="btn btn-primary mt-2">Login again</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>
