{% extends 'officers/base.html' %}{% block title %}Occurence Book{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <main class="main" id="main">
        <section class="section dashboard">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-body pt-3">
                        <h5 class="mb-0"><i class="bi bi-book-fill"></i>Occurence Book</h5><hr class="dropdown-divider">
                        <table class="table table-condensed table-hover table-bordered mt-1">
                            <thead>
                                <tr class="table-secondary text-center">
                                    <th class="w-25">Date</th>
                                    <th class="w-25">Time</th>
                                    <th class="text">Activity</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>

                                </tr>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% endblock %}
</body>
</html>