{% extends 'officers/base.html' %}{% block title %}My Profile{% endblock %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
	{% block content %}
	<main id="main" class="main">
		<section class="section profile">
			<div class="row">
				<div class="col-xl-4">
					<div class="card">
						<div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
							<img src="{{user.officialsprofile.dp.url}}" alt="profile-pic" class="rounded-circle">
							<h2 class="text-center">{{user.officialsprofile.officer|title}}</h2>
							<h3 class="text-center">{{user.officialsprofile.rank|title|default:"--"}} in {{user.officialsprofile.police_post|title|default:"--"}}</h3>
						</div>
					</div>
				</div>

				<div class="col-xl-8">
					<div class="card">
						<div class="card-body pt-3">
							
							<ul class="nav nav-tabs nav-tabs-bordered">
								<li class="nav-item">
									<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Officer Details</button>
								</li>

								<li class="nav-item">
									<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
								</li>

								<li class="nav-item">
									<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
								</li>

							</ul>

							<div class="tab-content pt-2">
								<div class="tab-pane fade show active profile-overview" id="profile-overview">
									{% include 'messages.html' %}
									<h5 class="card-title">Profile Details</h5>

									<div class="row">
										<div class="col-lg-3 col-md-4 label ">Full Name</div>
										<div class="col-lg-9 col-md-8">{{user.officialsprofile.officer|title}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Officer Id.</div>
										<div class="col-lg-9 col-md-8">{{user.officialsprofile.officer_no}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Police Post</div>
										<div class="col-lg-9 col-md-8">{{user.officialsprofile.police_post|title}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Date of birth</div>
										<div class="col-lg-9 col-md-8">{{user.officialsprofile.dob}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Age</div>
										<div class="col-lg-9 col-md-8">{{user.officialsprofile.age}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Phone</div>
										<div class="col-lg-9 col-md-8">{{user.officialsprofile.phone_no}}</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Email</div>
										<div class="col-lg-9 col-md-8">{{user.email}}</div>
									</div>

								</div>

								<div class="tab-pane fade profile-edit pt-3" id="profile-edit">
									<form action="" method="post" enctype="multipart/form-data">
										{% csrf_token %}
										<div class="row mb-3">
											<label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
											<div class="col-md-8 col-lg-9">
												<img src="{{user.officialsprofile.dp.url}}" alt="profile-pic">
											</div>
										</div>

										<div class="row mb-3">
											{% if user.officialsprofile.officer_no == "" and user.officialsprofile.gender == "" and user.officialsprofile.dob is None %}
											{{updateProfile|crispy}}{% else %}{{editProfile|crispy}}
											{% endif %}
										</div>
										
										<div class="text-center">
											<hr class="dropdown-divider"><button type="submit" class="btn btn-primary">Save Changes</button>
										</div>

									</form>
								</div>

								<div class="tab-pane fade pt-3" id="profile-change-password">
									<!-- Change Password Form -->
									<form action="" method="post">
										{% csrf_token %}
										<div class="row mb-3">
										<label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
										<div class="col-md-8 col-lg-9">
											<input name="password" type="password" class="form-control" id="currentPassword">
										</div>
										</div>

										<div class="row mb-3">
										<label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
										<div class="col-md-8 col-lg-9">
											<input name="newpassword" type="password" class="form-control" id="newPassword">
										</div>
										</div>

										<div class="row mb-3">
										<label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
										<div class="col-md-8 col-lg-9">
											<input name="renewpassword" type="password" class="form-control" id="renewPassword">
										</div>
										</div>

										<div class="text-center">
										<button type="submit" class="btn btn-primary">Change Password</button>
										</div>
									</form><!-- End Change Password Form -->

								</div>

							</div><!-- End Bordered Tabs -->

						</div>
					</div>

				</div>
			</div>
		</section>
	</main><!-- End #main -->
	{% endblock %}
</body>

</html>