{% extends 'officers/base.html' %}{% block title %}Create Official Account{% endblock %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <style>
        .form-container {
            margin-top: 3%;
            margin-bottom: 8%;
        }
    </style>
    <div class="form-container">
            <div class="row">
                <div class="col-md-6 offset-sm-3">
                    <form action="" method="post" class="card card-body mt-5 p-3">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h5>Create Official Account</h5><hr class="dropdown-divider mt-0">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{signup_form|crispy}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary mt-2">Create account</button><hr class="dropdown-divider">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h6 class="text-center"><a href="">Forgot password?</a></h6>
                                <h6 class="text-center">Already have an account? <a href="{% url 'official_login' %}">Login</a></h6>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        
    </div>
    {% endblock %}
</body>
</html>