{% extends 'officers/base.html' %}{% block title %}Wanted Suspects{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <main class="main" id="main">
        <section class="section dashboard">
            <div class="row">
                <div class="col-md-12">
                    <div class="card p-2">
                        <div class="row">
                            <div class="col-sm-12">
                                <h5 class="text-center">Wanted suspects</h5><hr class="dropdown-divider">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body text-center" style="border: 1px solid #ddd;">
                                    <div class="row">
                                        {% for suspect in wanted %}
                                        <div class="col-md-3">
                                            <h5><i class="bi bi-currency-exchange"></i> Bounty: Kshs. {{suspect.bounty}}</h5><hr class="dropdown-divider">
                                            <img src="{{suspect.suspect_pic.url}}" class="rounded-circle img-fluid" height="100px" width="100px" alt="img">
                                            <hr class="dropdown-divider">
                                            <h6 class="mb-0"><b>Name: </b>{{suspect.suspect_name|title}}{% if suspect.alias %} <b>aka</b> {{suspect.alias}}{% else %}{{suspect.alias|default:"<br>No alias name"}}{% endif %}</h6>
                                            <h6 class="mb-0"><b>Gender: </b>{{suspect.gender}}</h6>
                                            <h6 class="mb-0"><b>Last seen: </b>{{suspect.last_seen}}</h6>
                                            <hr class="dropdown-divider">
                                            <h5>{% if suspect.status == 'Hiding' %} <span class="badge bg-danger w-100">Hiding</span>{% else %}<span class="badge-bg-danger">{{suspect.status}}</span>{% endif %}</h5>
                                        </div>
                                        {% endfor %}
                                    </div>

                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% endblock %}
</body>
</html>